body{
    font-family: arial;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
    background-color:#eeeeee;
}

nav{
    background-color:#dddddd;
    height:40px;
    width:100%;
}

nav a{
    background-color:lightgrey;
    font-family: arial;
    color: black;
    font-size: 25pt;
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 20px;
}

nav a:hover{
    background-color: grey;
    font-family: arial;
    color: black;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    background-color: #cccccc;
    height: 100px;
}

#footertext{
    margin-left: 20px;
    margin-right: 20px;
}

.question{
    font-weight: bold;
    margin: 0;
}

h1,h2,h3,h4,h5,p{
    font-family:arial;
}

a {
    font-family: arial;
    text-decoration: none;
    color: black;
}

.tableWidths{
    width: 750px;
    margin-top: 25px;
}

.tableWidths td,th {
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
    text-align: center;
}

.gradeColor0 {
    background-color: #eeeeee;
}

.gradeColor1 {
    background-color: #00dd31;
}

.gradeColor2 {
    background-color: #e90000;
}

#profileContainer{
    height: 200px;
    width: 750px;
}

#profileDisc {
    height:200px;
    width: 500px;
    float: left;
}

.profilePictureContainer {
    height: 200px;
    width: 200px;
    margin-left: 50px;
    float: left;
}

.listContainer{
    height: 200px;
    width: 750px;
}

.listContainer{
    height: 200px;
    width: 750px;
}

.topList {
    height:200px;
    width:220px;
    float: left;
}

.topPictureContainer {
    height: 200px;
    width: 500px;
    margin-left: 25px;
    float: left;
}

.topListPictures{
    height: 150px;
    float: left;
    margin-top: 20px;
}

.topListPictures2{
    height: 100px;
    float: left;
    margin-top: 20px;
}
